
.theme {
  --primary-color-dark: #1E1A56;
  --primary-color: #312A8D;
  --secondary-color: #4F46C8;
  --default-color: black
}

.container {
  width: 70%;
  min-height: 70vh;
  margin: 50px auto;
}

h2, h3 {
  color: var(--primary-color);
  text-align: center;
}

button {
  margin: 10px 0;
}

img {
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}
@keyframes fade-in {
  0%{
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
